body{
    background-color:#6f6f6f;
}
#shuiping1 {
	display:flex;                        /* div内块水平排列 */
	border: 1px solid cadetblue;
	background-color:#818181;             /*#cbccff*/
    width:600px;                          /* 宽度 */
    height: 300px;
	
}
#shuiping2 {
	display:flex;                        /* div内块水平排列 */
	border: 1px solid cadetblue;
	border-style: dashed;
	background-color:#6f6f6f;
    width:600px;                          /* 宽度 */
    height: 400px;
	
}
#shuiping1_2 {
	display:flex;                        /* div内块水平排列 */
	border-bottom: 1px solid #8282c2;          /* 下边线参数 */
	box-shadow: 0px 1px 0px 0px #4a4a6d;        /* 下边线参数 */
	margin-top: 5px;                           /* 上外边距 */
	margin-bottom: 5px;                        /* 下外边距 */
	background-color:#6f6f6f;
	color: #e8d277;
    width:600px;                          /* 宽度 */
    height: 30px;
	
}
#navigation {
	
    width:150px;                          /* 宽度 */
    font-family:Arial;                    /* 字体 */
    font-size:14px;                       /* 字号 */
    text-align:right;                     /* 对齐 */
}
#navigation ul {
    list-style-type:none;                /* 不显示项目符号 */
    margin: 0px;                       /* 外边距 */
    padding: 0px;                      /* 内边距 */
}
#navigation li {
    border-bottom:1px solid #9c9cff;    /* 添加下划线 */
	color: #cf9604;
}
#navigation li a{
    display:block;                       /* 默认块级元素 */
    height:1em;                             /* 高度 */
    padding:5px 5px 5px 0.5em;               /* 内边距 */
    text-decoration:none;
    border-left:12px solid #151571;        /* 左边的粗边 */
    border-right:1px solid #151571;        /* 右侧阴影 */
}
#navigation li a:visited{                        /* 访问完链接 */
    background-color:#1136c1;                  /* 改变背景色 */
    color:#FFFFFF;                            /* 改变文字颜色 */
}
#navigation li a:hover{                    /* 鼠标经过时 */
    background-color:#002099;            /* 改变背景色 */
    color:#ffff00;                        /* 改变文字颜色 */
    border-left:12px solid yellow;        /* 改变边框颜色 */
}

#besicdiv {
    display:block;                        /* 默认块级元素 */
	
	background-color: #cbccff;
	width: 150px;
	border: 1px solid green;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	font-family:Arial;                    /* 字体 */
	font-size:14px;                       /* 字号 */
	line-height: 1.5em;               /* 段落 */
	border-radius: 8px;            /* 圆角 */    
}
#besicdiv1 {
    display:block;
	background-color: #cbccff;
	width: 150px;
	border: 1px solid green;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	font-family:Arial;                    /* 字体 */
	font-size:14px;                       /* 字号 */
	line-height: 1.5em;               /* 段落 */
	border-radius: 8px;            /* 圆角 */    
}
#besicdiv2 {
    display:block;
	
	background-color: #818181;
	width: 130px;
	border: 1px solid green;
	padding: 5px;
	margin: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	font-family:Arial;                    /* 字体 */
	font-size:14px;                       /* 字号 */
	line-height: 1.6em;               /* 段落 */
	border-radius: 8px;            /* 圆角 */    
}
#image1 {
    display:block;
	
	width: 30px;
	border: 0px solid green;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	font-family:Arial;                    /* 字体 */
	font-size:14px;                       /* 字号 */
	line-height: 1.5em;               /* 段落 */
	            /* 圆角 */    
}
h1 {
	color: #ffaa00;
	text-align: center;
	font-size: 1.5rem;
	font-style: normal;
	font: 100;
	width: 400px;
}
p {
	color: #e8d277;
	text-align:left;
	font-size: 0.9rem;
	font-style: normal;
	
}

/*




li {
	list-style-type: square;
	border: aquamarine;
	
		
}
#div1,#div2{
	width: 190px;
	float: left;
	border-radius: 8px;
}
a {
	display:flex;
	flex-direction: column;
	height: 25px;
	line-height: 30px;
	overflow-wrap: break-word; 
	
}
*/