body{
    background-color:#dee0ff;
}
#navigation {
    width:150px;
    font-family:Arial;
    font-size:14px;
    text-align:right
}
#navigation ul {
    list-style-type:none;                /* 不显示项目符号 */
    margin:0px;
    padding:0px;
}
#navigation li {
    border-bottom:1px solid #9F9FED;    /* 添加下划线 */
}
#navigation li a{
    display:block;
    height:1em;
    padding:5px 5px 5px 0.5em;
    text-decoration:none;
    border-left:12px solid #151571;        /* 左边的粗边 */
    border-right:1px solid #151571;        /* 右侧阴影 */
}
vigation li a:visited{
    background-color:#1136c1;
    color:#FFFFFF;
}
#navigation li a:hover{                    /* 鼠标经过时 */
    background-color:#002099;            /* 改变背景色 */
    color:#ffff00;                        /* 改变文字颜色 */
    border-left:12px solid yellow; 
}


h1 {
	color: firebrick;
	text-align: center;
	font-size: 1.5rem;
	font-style: normal;
	font: 100;
	width: 400px;
}
p {
	color: darkcyan;
	text-align:left;
	font-size: 0.9rem;
	font-style: normal;
	
}
/*
div {
  background-color: lightgrey;
  width: 600px;
  border: 1px solid green;
  padding: 1px;
  margin: 1px;
  display: flex;
}



li {
	list-style-type: square;
	border: aquamarine;
	
		
}
#div1,#div2{
	width: 190px;
	float: left;
	border-radius: 8px;
}
a {
	display:flex;
	flex-direction: column;
	height: 25px;
	line-height: 30px;
	overflow-wrap: break-word; 
	
}
*/