
h1 {
	color: firebrick;
	text-align: center;
	font-size: 1.5rem;
	font-style: normal;
	font: 100;
	width: 400px;
}
p {
	color: darkcyan;
	text-align:left;
	font-size: 0.9rem;
	font-style: normal;
	
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 1px solid green;
  padding: 2px;
  margin: auto;
}



li {
	list-style-type: square;
	border: aquamarine;
		
}
